version: "3"

services:
  {{name}}:
    container_name: {{name}}
    image: kooose/ml-system-in-actions:{{name}}_0.0.1
    restart: always
    environment:
      - PLATFORM=docker_compose
    ports:
      - {{port}}:{{port}}
    command: ./run.sh
